body {
  background-color: black;
  & header {
    & img {
      display: none;
    }
  }
  & main {
    padding-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    & #game {
      margin: 0 auto;
      background-color: white;
    }
  }
  footer {
    text-align: center;
    width: 100%;
    padding-top: 2rem;
    & a {
      &#replay {
        display: none;
        text-decoration: none;
        font-size: 1.8rem;
        color: black;
        background-color: white;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        border-radius: 30%;
      }
      &#play {
        display: inline;
        text-decoration: none;
        font-size: 1.8rem;
        color: black;
        background-color: white;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        border-radius: 30%;
      }
    }
  }
}